@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit";
  line-height: normal;
}

h1 {
  font-size: 64px;
  font-weight: 600;
  letter-spacing: 5.12px;
  text-transform: uppercase;
}

h2, button {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2.56px;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.6px;
}

p, ul, li {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
